<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
        <!-- Card stats -->
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--7">
    <!-- Dark table -->
    <div class="row mt-5">
      <div class="col">
        <div class="card bg-default shadow">
          <div class="card-header bg-transparent border-0">
            <h3 class="text-white mb-0">Categories</h3>
            <br>

            <div class="media align-items-center">
              <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder" src="../assets/img/theme/bootstrap.jpg">
              </a>
              <div class="media-body">
                <span class="mb-0 text-sm"><a>categ 1</a></span>
              </div>
            </div>

            <div class="media align-items-center">
              <a href="javascript:void(0)" class="avatar rounded-circle mr-3">
                <img alt="Image placeholder" src="../assets/img/theme/angular.jpg">
              </a>
              <div class="media-body">
                <span class="mb-0 text-sm"><a>categ 2</a></span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>  